/* the 100vh and 100vw set the size of the body to fill the viewport (screen) */
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0;
  background-image: url("images/brickwall.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  cursor: url("images/mnatch.png"), auto;
}
/* this class specifies shape */
.collum {
  height: 100%;
  width: 100%;
  display: block;
}
.collum2 {
  height: 100%;
  width: 100%;
  display: flex;
}
.lock-row {
  height: 20%;
  width: 100%;
  display: block;
}
.skinnycollum {
  height: 100%;
  width: 33.3%;
  display: block;
}
.line {
  height: 5.88%;
  width: 100%;
  display: flex;
  opacity: 0.7;
}
.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}
img {
  max-width: 100%;
  max-height: 100%;
}
poop {
  max-width: 70%;
  max-height: 70%;
}
.grey {
  filter: drop-shadow(0 0 5px #aaacb0) drop-shadow(0 0 5px #aaacb0)
    drop-shadow(0 0 5px #aaacb0) drop-shadow(0 0 5px #aaacb0)
    drop-shadow(0 0 5px #aaacb0);
}
.clickable:hover {
  cursor: pointer;
}
.clickable:active {
  transform: scale(0.95);
}
.red {
  filter: drop-shadow(0 0 5px #f3b6cf) drop-shadow(0 0 5px #f3b6cf)
    drop-shadow(0 0 5px #f3b6cf) drop-shadow(0 0 5px #f3b6cf)
    drop-shadow(0 0 5px #f3b6cf);
}
.orange {
  filter: drop-shadow(0 0 5px #f7a072) drop-shadow(0 0 5px #f7a072)
    drop-shadow(0 0 5px #f7a072) drop-shadow(0 0 5px #f7a072)
    drop-shadow(0 0 5px #f7a072);
}
.yellow {
  filter: drop-shadow(0 0 5px #fdf6af) drop-shadow(0 0 5px #fdf6af)
    drop-shadow(0 0 5px #fdf6af) drop-shadow(0 0 5px #fdf6af)
    drop-shadow(0 0 5px #fdf6af);
}
.green {
  filter: drop-shadow(0 0 5px #bfedc1) drop-shadow(0 0 5px #bfedc1)
    drop-shadow(0 0 5px #bfedc1) drop-shadow(0 0 5px #bfedc1)
    drop-shadow(0 0 5px #bfedc1);
}
.blue {
  filter: drop-shadow(0 0 5px #bde0fe) drop-shadow(0 0 5px #bde0fe)
    drop-shadow(0 0 5px #bde0fe) drop-shadow(0 0 5px #bde0fe)
    drop-shadow(0 0 5px #bde0fe);
}
/* these classes specify color */
.pink1 {
  background-color: #ff74d4;
}
.pink2 {
  background-color: #ffb8de;
}
.pink4 {
  background-color: #ffd5d9;
}
.pink3 {
  background-color: #ffffff;
}
.pink5 {
  background-color: #ffc6d9;
}
body {
  display: flex;
}
.row {
  height: 100%;
  width: 50%;
  display: block;
}
.box {
  height: 100%;
  width: 58%;
  top: -10%;
  position: relative;
}
.box1 {
  height: 100%;
  width: 9%;
  top: -10%;
  position: ;
}
.box2 {
  height: 100%;
  width: 48%;
  top: -10%;
  position: relative;
}
.box3 {
  height: 90%;
  width: 50%;
  top: %;
  position: relative;
}
.box4 {
  height: 70%;
  width: 93%;
  top: 10%;
  position: relative;
}
.box5 {
  height: 70%;
  width: 100%;
  top: -13%;
  left: 36%;
  position: relative;
}
.box6 {
  height: 80%;
  width: 68%;
  top: -10%;
  position: relative;
}
.box7 {
  height: 60%;
  width: 100%;
  top: -50%;
  left: 36%;
  position: relative;
}
.box8 {
  height: 65%;
  width: 100%;
  top: 8%;
  left: 27%;
  position: relative;
}
.box9 {
  height: 68%;
  width: 97%;
  top: 20%;
  position: relative;
}
.box10 {
  height: 52%;
  width: 100%;
  top: 8%;
  left: 42%;
  position: relative;
}
.box11 {
  height: 60%;
  width: 100%;
  top: 23%;
  left: 17%;
  position: relative;
}
.box12 {
  height: 100%;
  width: 33.3333333333%;
  top: 30%;
  left: %;
  position: ;
}
.box14 {
  height: 100%;
  width: 2%;
  top: -40%;
  left: 21%;
  position: relative;
}

.cutebutterfly {
  position: relative;
  left: 80%;
  top: 5%;
  max-height: 80%;
  z-index: 100;
}
.rarebeefstake {
  position: relative;
  left: 90%;
  top: 40%;
  max-height: 80%;
  z-index: 100;
}
.shy2 {
  position: relative;
  left: 10%;
  max-height: 100%;
  max-width: 100%;
  z-index: 100;
}
.skull {
  position: relative;
  left: 50%;
  top: 15%;
  max-height: 75%;
  z-index: 100;
}
.chess {
  position: relative;
  left: 15%;
  top: 8%;
  max-height: 75%;
  z-index: 100;
}
.celabrate {
  position: relative;
  left: -39%;
  top: 14%;
  max-height: 200%;
  z-index: 100;
}
.rainbow {
  position: relative;
  left: 37%;
  top: 22%;
  max-height: 90%;
  z-index: 100;
}
.apple {
  position: relative;
  left: 55%;
  top: 40%;
  max-height: 80%;
  max-width: 100%;
}
.imcreaming {
  position: relative;
  left: -62%;
  top: 70%;
  max-height: 100%;
  z-index: 100;
}
.twilightmodal {
  position: relative;
  left: %;
  top: 20%;
  max-height: 100%;
  z-index: 100;
}
.heartmodal {
  position: relative;
  left: 6%;
  top: 30%;
  max-height: 40%;
  z-index: 100;
}
.cutiecrusaders {
  position: relative;
  left: 5%;
  top: 5%;
  max-height: 80%;
  z-index: 100;
}
.cutiecrusaders {
  position: relative;
  left: 5%;
  top: 5%;
  max-height: 80%;
  z-index: 100;
}
.cupcakemodal {
  position: relative;
  left: 5%;
  top: 25%;
  max-height: 60%;
  z-index: 100;
}
.dashmodal {
  position: relative;
  left: %;
  top: 15%;
  max-height: 75%;
  z-index: 100;
}
.lollypopmodal {
  position: relative;
  left: 10%;
  top: 20%;
  max-height: 55%;
  z-index: 100;
}
.chessmodal {
  position: relative;
  left: 6%;
  top: 30%;
  max-height: 55%;
  z-index: 100;
}
.raritymodal {
  position: relative;
  left: 5%;
  top: 10%;
  max-height: 80%;
  z-index: 100;
}
.fluttershymodal {
  position: relative;
  left: -2%;
  top: 30%;
  max-height: 60%;
  z-index: 100;
}
.kyelimepiemodal {
  position: relative;
  left: 6%;
  top: 30%;
  max-height: 55%;
  z-index: 100;
}
.dumbellmodal {
  position: relative;
  left: 10%;
  top: 30%;
  max-height: 55%;
  z-index: 100;
}
.icecreammodal {
  position: relative;
  left: 6%;
  top: 40%;
  max-height: 55%;
  z-index: 100;
}
.applejackmodal {
  position: relative;
  left: 8%;
  top: 35%;
  max-height: 55%;
  z-index: 100;
}
.paintmodal {
  position: relative;
  left: 10%;
  top: 30%;
  max-height: 55%;
  z-index: 100;
}
.anwserkye {
  position: relative;
  left: %;
  top: -20%;
  max-height: 80%;
  z-index: 100;
}
.skullmodal {
  position: relative;
  left: 5%;
  top: 25%;
  max-height: 70%;
  z-index: 100;
}

.box100 {
  height: 11.8%;
  width: 90%;
}

.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}
.puzleimg {
  max-width: 50%;
  max-height: 50%;
}
.clicked {
  opacity: 0.1;
}

/* Add a modal pop-up window */
/* https://en.wikipedia.org/wiki/Modal_window */
.modal {
  display: none;
  position: fixed;
  top: 20;
  left: ;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #1c1c1c;
  opacity: 1;
}
img {
  max-height: 100%;
  max-width: 100%;
}
img2 {
  max-height: 90%;
  max-width: 90%;
}
/* Don't cover the entire screen */
.modal-body {
  width: 25%;
  height: 70%;
  opacity: 1;
  margin: 0;
  background-image: url("images/hamilton.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100% 100%;
}
.modal-inner-body {
  width: 75%;
  height: 82%;
  opacity: 0.9;
  /*background-color: #ff74d4;*/
}
.key-rows {
  width: 100%;
  height: 20%;
  display: flex;
}
.key-button {
  width: calc(100% / 3);
  height: 100%;
}

/* The Close Button */
.close {
  color: #ffc9e2;
  position: fixed;
  top: 10%;
  right: 35%;
  font-size: 80px;
  font-weight: bold;
}

.match {
  z-index: 100000000000000;
}

.close:hover,
.close:focus {
  color: #504d4d;
  text-decoration: none;
  cursor: pointer;
}
.flashlight {
  position: fixed;
  inset: 0;
  pointer-events: none;
  background: radial-gradient(circle var(--size, 200px) at var(--x) var(--y));
  mix-blend-mode: lighten;
  z-index: 9001;
  opacity: 1;
  transition: opacity 0.1s linear;
}

#darkness {
  position: fixed;
  inset: 0;
  background: black;
  pointer-events: none;
  z-index: 9000;
  mask: radial-gradient(
    circle var(--size, 200px) at var(--x) var(--y),
    transparent 0%,
    transparent 40%,
    rgba(0, 0, 0, 0.8) 70%,
    black 100%
  );
  opacity: 1;
  transition: opacity 0.1s linear;
}

#darkness2 {
  position: fixed;
  inset: 0;
  background: black;
  pointer-events: none;
  z-index: 9000;
  mask: radial-gradient(
    circle var(--size, 0px) at var(--x) var(--y),
    transparent 0%,
    transparent 40%,
    rgba(0, 0, 0, 0.8) 70%,
    black 100%
  );
  opacity: 1;
  transition: opacity 0.1s linear;
}

#cursorDot {
  position: fixed;
  width: 12px;
  height: 12px;
  background: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 12000;
  box-shadow: 0 0 8px rgb(255, 255, 255), 0 0 15px rgba(255, 255, 255);
  opacity: 0;
}
.flashlight {
  position: fixed;
  inset: 0;
  pointer-events: none;
  background: radial-gradient(
    circle var(--size, 200px) at var(--x) var(--y),
    rgba(255, 255, 255, 0) 70%
  );
  mix-blend-mode: screen;
  z-index: 12000;
  opacity: 1;
}

#darkness {
  position: fixed;
  inset: 0;
  background: black;
  pointer-events: none;
  z-index: 11500;

  -webkit-mask: radial-gradient(
    circle var(--size, 200px) at var(--x) var(--y),
    transparent 0%,
    transparent 40%,
    rgba(0, 0, 0, 0.8) 70%,
    black 100%
  );

  mask: radial-gradient(
    circle var(--size, 200px) at var(--x) var(--y),
    transparent 0%,
    transparent 40%,
    rgba(0, 0, 0, 0.8) 70%,
    black 100%
  );
}
#cursorDot {
  position: fixed;
  width: 12px;
  height: 12px;
  background: rgb(230, 230, 230);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 20000;
  box-shadow: 0 0 8px black, 0 0 15px rgba(0, 0, 0, 0);
}

.flash-off {
  --size: 0px !important;
}

.flash-on {
  --size: 200px !important;
}
